.u-section-1 {
  background-image: url("images/1rexton-get-in-touch-Copy.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1174px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 29px 793px 0 90px;
}

.u-section-1 .u-text-2 {
  font-size: 4.5rem;
  margin: 13px 296px 0 297px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 814px;
  margin: 33px -62px 0 auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 298px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 18px 13px 3px;
}

.u-section-1 .u-text-3 {
  font-size: 1.625rem;
  font-weight: 700;
  margin: 20px 33px 0 48px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  margin: 32px 0 0 74px;
}

.u-section-1 .u-icon-1 {
  height: 42px;
  width: 42px;
  background-image: none;
  margin: -51px auto 0 14px;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  background-image: none;
  margin: 31px 7px 0 74px;
}

.u-section-1 .u-icon-2 {
  height: 42px;
  width: 42px;
  background-image: none;
  margin: -62px auto 0 14px;
}

.u-section-1 .u-icon-3 {
  height: 42px;
  width: 42px;
  background-image: none;
  margin: 14px auto 0 14px;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  background-image: none;
  margin: -35px 6px 0 74px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 298px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 18px 0 3px;
}

.u-section-1 .u-text-7 {
  font-size: 1.625rem;
  font-weight: 700;
  margin: 20px 33px 0 48px;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  margin: 32px 0 0 74px;
}

.u-section-1 .u-icon-4 {
  height: 42px;
  width: 42px;
  background-image: none;
  margin: -51px auto 0 14px;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  background-image: none;
  margin: 31px 7px 0 74px;
}

.u-section-1 .u-icon-5 {
  height: 42px;
  width: 42px;
  background-image: none;
  margin: -62px auto 0 14px;
}

.u-section-1 .u-icon-6 {
  height: 42px;
  width: 42px;
  background-image: none;
  margin: 14px auto 0 14px;
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  background-image: none;
  margin: -35px 6px 0 74px;
}

.u-section-1 .u-layout-wrap-2 {
  width: 814px;
  margin: -8px -62px 0 auto;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 296px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 18px 0 3px;
}

.u-section-1 .u-text-11 {
  font-size: 1.625rem;
  font-weight: 700;
  margin: 20px 33px 0 48px;
}

.u-section-1 .u-text-12 {
  font-weight: 700;
  margin: 23px 0 0 74px;
}

.u-section-1 .u-icon-7 {
  height: 42px;
  width: 42px;
  background-image: none;
  margin: -51px auto 0 14px;
}

.u-section-1 .u-text-13 {
  font-weight: 700;
  background-image: none;
  margin: 31px 7px 0 74px;
}

.u-section-1 .u-icon-8 {
  height: 42px;
  width: 42px;
  background-image: none;
  margin: -62px auto 0 14px;
}

.u-section-1 .u-icon-9 {
  height: 42px;
  width: 42px;
  background-image: none;
  margin: 14px auto 0 14px;
}

.u-section-1 .u-text-14 {
  font-weight: 700;
  background-image: none;
  margin: -35px 6px 0 74px;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 296px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 18px 0 3px;
}

.u-section-1 .u-text-15 {
  font-weight: 700;
  font-size: 1.625rem;
  margin: 20px 33px 0 48px;
}

.u-section-1 .u-text-16 {
  font-weight: 700;
  margin: 32px 0 0 74px;
}

.u-section-1 .u-icon-10 {
  height: 42px;
  width: 42px;
  background-image: none;
  margin: -51px auto 0 14px;
}

.u-section-1 .u-text-17 {
  font-weight: 700;
  background-image: none;
  margin: 31px 7px 0 74px;
}

.u-section-1 .u-icon-11 {
  height: 42px;
  width: 42px;
  background-image: none;
  margin: -62px auto 0 14px;
}

.u-section-1 .u-icon-12 {
  height: 42px;
  width: 42px;
  background-image: none;
  margin: 14px auto 0 14px;
}

.u-section-1 .u-text-18 {
  font-weight: 700;
  background-image: none;
  margin: -35px 6px 0 74px;
}

.u-section-1 .u-layout-wrap-3 {
  width: 406px;
  margin: 0 131px 0 auto;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 307px;
}

.u-section-1 .u-container-layout-5 {
  padding: 15px 18px 13px 3px;
}

.u-section-1 .u-text-19 {
  font-size: 1.625rem;
  font-weight: 700;
  margin: 27px 33px 0 48px;
}

.u-section-1 .u-text-20 {
  font-weight: 700;
  margin: 32px 0 0 74px;
}

.u-section-1 .u-icon-13 {
  height: 42px;
  width: 42px;
  background-image: none;
  margin: -51px auto 0 14px;
}

.u-section-1 .u-text-21 {
  font-weight: 700;
  background-image: none;
  margin: 31px 7px 0 74px;
}

.u-section-1 .u-icon-14 {
  height: 42px;
  width: 42px;
  background-image: none;
  margin: -62px auto 0 14px;
}

.u-section-1 .u-icon-15 {
  height: 42px;
  width: 42px;
  background-image: none;
  margin: 14px auto 0 14px;
}

.u-section-1 .u-text-22 {
  font-weight: 700;
  background-image: none;
  margin: -35px 6px 0 74px;
}

.u-section-1 .u-image-1 {
  width: 443px;
  height: 792px;
  margin: -896px auto 60px -55px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 968px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 28px;
    margin-right: 683px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    width: 547px;
    margin-top: 14px;
    margin-right: 38px;
    margin-left: 555px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: auto;
    margin-left: 126px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -36px;
  }

  .u-section-1 .u-text-10 {
    margin-top: -36px;
  }

  .u-section-1 .u-layout-wrap-2 {
    margin-right: auto;
    margin-left: 126px;
  }

  .u-section-1 .u-text-14 {
    margin-top: -36px;
  }

  .u-section-1 .u-text-18 {
    margin-top: -36px;
  }

  .u-section-1 .u-layout-wrap-3 {
    margin-right: auto;
    margin-left: 331px;
  }

  .u-section-1 .u-text-22 {
    margin-top: -36px;
  }

  .u-section-1 .u-image-1 {
    margin-bottom: 0;
    margin-left: 32px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 140px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 113px;
    margin-right: 463px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3.75rem;
    margin-top: -71px;
    margin-right: -292px;
    margin-left: 885px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 660px;
    margin-left: 210px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 10px;
    margin-left: 25px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 1px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 26px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -61px;
    margin-right: 223px;
    margin-left: 34px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
    margin-left: 33px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 10px;
    margin-left: 25px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 27px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 0;
    margin-left: 34px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 0;
    margin-left: 33px;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 720px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 10px;
    margin-left: 25px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 27px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 0;
    margin-left: 34px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 0;
    margin-left: 33px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 10px;
    margin-left: 25px;
  }

  .u-section-1 .u-text-16 {
    margin-left: 27px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 0;
    margin-left: 34px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 0;
    margin-left: 33px;
  }

  .u-section-1 .u-layout-wrap-3 {
    margin-right: 204px;
    margin-left: auto;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 142px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 340px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 445px;
    margin-right: 283px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
    margin-top: -403px;
    margin-right: -600px;
    margin-left: 1200px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 480px;
    margin-left: 300px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -51px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 16px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-right: 10px;
  }

  .u-section-1 .u-layout-wrap-3 {
    width: 407px;
    margin-right: 133px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 232px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 156px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 592px;
    margin-right: 83px;
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 3rem;
    width: 340px;
    margin-top: -537px;
    margin-right: -800px;
    margin-left: 1600px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 302px;
    margin-right: 19px;
    margin-left: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -25px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -10px;
    margin-right: 173px;
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
  }

  .u-section-1 .u-text-9 {
    margin-left: 0;
  }

  .u-section-1 .u-text-10 {
    margin-left: 0;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 340px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-12 {
    margin-left: 0;
  }

  .u-section-1 .u-text-13 {
    margin-left: 0;
  }

  .u-section-1 .u-text-14 {
    margin-left: 0;
  }

  .u-section-1 .u-text-15 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-16 {
    margin-left: 0;
  }

  .u-section-1 .u-text-17 {
    margin-left: 0;
  }

  .u-section-1 .u-text-18 {
    margin-left: 0;
  }

  .u-section-1 .u-layout-wrap-3 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-text-19 {
    margin-right: 0;
    margin-left: 14px;
  }

  .u-section-1 .u-text-20 {
    margin-left: 7px;
  }

  .u-section-1 .u-text-21 {
    margin-right: 0;
    margin-left: 14px;
  }

  .u-section-1 .u-text-22 {
    margin-right: 0;
    margin-left: 13px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 608px;
    margin-left: 400px;
  }
}