<!DOCTYPE html>
<html lang="en">
<head>
	<title>Doctors | Dashboard</title>
	<link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/vendor/fontawesome/cssfont-awesome.min.css">
	<link rel="stylesheet" href=" vendor/themify-icons/themify-icons.min.css">
	<link href="/vendor/animate.css/animate.min.css" rel="stylesheet" media="screen">
	<link href="/vendor/perfect-scrollbar/perfect-scrollbar.min.css" rel="stylesheet" media="screen">
	<link href="/vendor/switchery/switchery.min.css" rel="stylesheet" media="screen">
	<link href="/vendor/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css" rel="stylesheet" media="screen">
	<link href="/vendor/select2/select2.min.css" rel="stylesheet" media="screen">
	<link href="/vendor/bootstrap-datepicker/bootstrap-datepicker3.standalone.min.css" rel="stylesheet" media="screen">
	<link href="/vendor/bootstrap-timepicker/bootstrap-timepicker.min.css" rel="stylesheet" media="screen">
	<link rel="stylesheet" href="/assets/css/styles.css">
	<link rel="stylesheet" href="/assets/css/plugins.css">
	<link rel="stylesheet" href="/assets/css/themes/theme-1.css" id="skin_color" />
    <link rel="StyleSheet1" href="/assets/css/styles.css" />

	<style>
		a:hover {
			border-bottom: 2px solid gray;
			padding-bottom: 10px;
		}

		html, body {
			padding: 0;
			margin: 0;
			background-color: #f5fffc;
		}
        .google{
            margin-left:10px;
        }

        .google:hover {
            background: #d7f0f1;
        }

        .bac {
            background-image: url("/images/bac1.jfif");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            /* Needed to position the navbar */
            position: relative;
			min-height:800px;
            

        }
        .img{
            opacity: 0.5;
        }
        .container1 {
            width: 100%;
            height: 680px;
            background-color: #191919;
            padding-top: 20px;
            padding-left: 15px;
            padding-right: 15px;

        }

        .contact {
            font-size: 15px;
            color: white;
            padding-top: 10px;
        }
		h1{
			color:white
		}
		.profile{
				background-color: #191919;
				color: white;
				border: none;
			}
			.profile:hover{
				padding-bottom: 5px;
				border-bottom: 2px solid white;
			}

	</style>



</head>
<body>

	<div>

		<div class="nithin" style="background-color:#191919; padding:17px;">

			<ul style="  list-style:none ;      list-style-type: none;margin: 0;padding: 0;overflow: hidden;


">
				<li class="rags;" style="display:inline;  float:left;margin-left:10px; padding-top:10px;margin-right:10px">

					<img src="/images/max.png" style="height:45px; width:45px;" />


				</li>

				<li class=" rahul" style=" font-size:45px; color:white; font-family:Arial;  display:inline;float:left;">
					Eco Health

				</li>



				<li class="rags;" style="display:inline;  float:right;margin-left:10px; padding-top:25px;">

					<a href="/" style="border-bottom:none" onclick="return confirm('Confirm Logout ??')">
						<img  src="/images/log.png" style="height:30px; width:38px;" />
					</a>


				</li>


				<li class="rags;" style="display:inline; color:white;font-size:17px; float:right;margin-left:10px; padding-top:30px;  font-family:Arial;">
					<form action="/auth/docprofile" method="POST">
							<input class="profile" value="profile" type="submit">
							</form>

				</li>
				


			</ul>

		</div>

		<div class="bac">

			<div style="position:absolute;">
				<div class="wrap-content container" id="container" style="margin-bottom:0; padding:50px;">

					<section id="page-title" style="border-bottom:none">
						<div class="row" style="margin-left:350px">
							<div class="col-sm-8">
								<h1 class="mainTitle" style="font-family: Arial;">Doctor | Dashboard</h1>
							</div>


						</div>
					</section>


					<div class="row" style="margin-top: 40px">
						<div class="col-sm-4" style="margin-left:250px">
							<div class="panel panel-white no-radius text-center google">
								<div class="panel-body">
									<span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-primary"></i> <i class="fa fa-smile-o fa-stack-1x fa-inverse"></i> </span>

									<li class="rags;" style="display:inline; margin-left:10px; padding-top:10px;">

										<img src="/images/pha.png" style="height:50px; width:50px;" />


									</li>

									<h2 class="StepTitle" style="font-family: Arial;">Pharmacy</h2>

									<p style="font-family: Arial;">
										<a href="/docpharm">
											Manage
										</a>
									</p>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="panel panel-white no-radius text-center google">
								<div class="panel-body">
									<span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-primary"></i> <i class="fa fa-paperclip fa-stack-1x fa-inverse"></i> </span>

									<li class="rags;" style="display:inline;  margin-left:10px; padding-top:10px; ">

										<img src="/images/appo.png" style="height:50px; width:60px;" />


									</li>

									<h2 class="StepTitle" style="font-family: Arial;">My Appointments</h2>

									<p style="font-family: Arial;">
										<form action="/auth/dochis" method="POST">
										<input type="submit" value="View Appointments" style="background-color:white;color :blue;border:none;">
										</form>
									</p>
								</div>
							</div>
						</div>

					</div>
















				</div>
			</div>

		</div>

	</div>





		<div class="container1" >
			<h1 style="margin-left:100px">Contact us</h1>
			<div >
				<label style="font-size:20px; padding:10px; margin-top:50px;color:white; margin-left:100px">
					Hyderabad
					<br />
					<label class="contact">
						<label style="color:white; padding:4px">
							ph no.: 9551456025
						</label>
						<br />
						<label style="width:200px; color:white; padding:4px">
							address: Road No 72 Opp. Bharatiya Vidya Bhavan School Film Nagar, Jubilee Hills, Hyderabad, Telangana 500033
						</label>
						<br />
						<label style="color:white; padding:4px">
							email:ecohealth.hyderabad@gmail.com
						</label>
					</label>
				</label>

				<label style="font-size:20px; padding:10px; margin-top:50px;color:white; margin-left:50px">
					Chennai
					<br />
					<label class="contact">
						<label style="color:white; padding:4px">
							ph no.: 9815722694
						</label>
						<br />
						<label style="width:200px; color:white; padding:4px">
							address: 21 Greams Lane, Off, Greams Road, Anna Nagar, Thousand Lights, Chennai, Tamil Nadu 600006
						</label>
						<br />
						<label style="color:white; padding:4px">
							email:ecohealth.chennai@gmail.com
						</label>
					</label>
				</label>


				<label style="font-size:20px; padding:10px; margin-top:50px;color:white; margin-left:100px">
					Bangalore
					<br />
					<label class="contact">
						<label style="color:white; padding:4px">
							ph no.: 7888592469
						</label>
						<br />
						<label style="width:200px; color:white; padding:4px">
							address: No. 1, Old No. 28, Platform Road Near Mantri Square Mall, Seshadripuram, Bengaluru, Karnataka 560020
						</label>
						<br />
						<label style="color:white; padding:4px">
							email:ecohealth.bangalore@gmail.com
						</label>
					</label>
				</label>

				<label style="font-size:20px; padding:10px; margin-top:50px;color:white; margin-left:100px">
					Mumbai
					<br />
					<label class="contact">
						<label style="color:white; padding:4px">
							ph no.: 9855564287
						</label>
						<br />
						<label style="width:200px; color:white; padding:4px">
							address: 12, Vitthaldas Thackersey Marg, Near to Liberty Cinema, Marine Lines, Mumbai, Maharashtra 400020
						</label>
						<br />
						<label style="color:white; padding:4px">
							email:ecohealth.mumbai@gmail.com
						</label>
					</label>
				</label>

				<label style="font-size:20px; padding:10px; margin-top:50px;color:white; margin-left:100px">
					Delhi
					<br />
					<label class="contact">
						<label style="color:white; padding:4px">
							ph no.: 8886957822
						</label>
						<br />
						<label style="width:200px; color:white; padding:4px">
							address: 33, Rohtak Rd, Anand Parbat, New Delhi, Delhi 110052
						</label>
						<br />
						<label style="color:white; padding:4px">
							email:ecohealth.delhi@gmail.com
						</label>
					</label>
				</label>






			</div>


		</div>

		<script>

			function send() {
				var user = localStorage.getItem("doc1");
				var data=[];
				data.push(user);
				let options = {
        method: 'POST',
        headers: {
            "Content-type": "application/json; charset=UTF-8"
        },
        body: JSON.stringify(data)
    }
    const promise = fetch('/auth/dochis', options);
    promise.then(response => {
        if(!response.ok){
            console.error(response)
        } else {
            return response.json();
        }
    }).then(result => {
        console.log(result);
    })
			}
		</script>

</body>
</html>
